#areaJuego {
    background-color: #4b6592;
    border: 4px solid #132837;
    max-width: 100%;
    display: block;
}

#siguientePieza {
    background-color: #4b6592;
    border: 4px solid #132837;
    max-width: 100%;
    display: block;
}
